EAValidator/Files/Check.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Check" type="CheckType"/>
	<xs:complexType name="FiltersType">
		<xs:all>
			<xs:element type="xs:string" name="Change" minOccurs="0"/>
			<xs:element type="xs:string" name="Release" minOccurs="0"/>
			<xs:element type="xs:string" name="Package" minOccurs="0"/>
			<xs:element type="xs:string" name="FunctionalDesign" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="QueryToFindElementsType">
		<xs:sequence>
			<xs:element name="Main">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="FiltersType" name="Filters"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParametersType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:any processContents="lax"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryToCheckFoundElementsType">
		<xs:sequence>
			<xs:element name="Main">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="16"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="ParametersType" name="Parameters"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckType">
		<xs:all>
			<xs:element type="xs:integer" name="CheckId"/>
			<xs:element name="CheckDescription">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="QueryToFindElementsType" name="QueryToFindElements"/>
			<xs:element type="QueryToCheckFoundElementsType" name="QueryToCheckFoundElements"/>
			<xs:element name="WarningType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element type="xs:string" name="Rationale"/>
			<xs:element type="xs:string" name="ProposedSolution"/>
			<xs:element type="xs:anyURI" name="HelpUrl" minOccurs="0" />
			<xs:element type="ResolveCode" name="ResolveCode" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name ="ResolveCode">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name = "language" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="VBScript"/>
							<xs:enumeration value="JScript"/>
							<xs:enumeration value="JavaScript"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>